{% load static %}
<html>
	<head>
		<title> Doca:Register </title>
		<link rel="stylesheet" type="text/css" href="{%static 'c5.css'%}">
	</head>
	<body>
		<div id="div1">
			DOCA
		</div>
		<div id="div2">
		<form action="/login/regpatient/" Method="POST">
			<table id="table1">
			{%if err%}<tr><td style='font-size:30px;color:#ffffff;background-color:#e77471'>{{err}}</td></tr><tr><td><span id='sp1'>Avinash</span></td></tr>
			{%endif%}	<tr>
				<tr>
					<td id="td1"> first name </td>
					<td id="td2"> {% csrf_token %}{{form.fn}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
					<td id="td1"> last name </td>
					<td id="td2">{% csrf_token %}{{form.ln}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
					<td id="td1"> Email id </td>
					<td id="td2">{% csrf_token %}{{form.uid}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
					<td id="td1"> DoB </td>
					<td id="td2">{{form.dob}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
					<td id="td3">Password </td>
					<td id="td4">{% csrf_token %}{{form.password}}</td1>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
					<td id="td1"> Gender </td>
					<td id="td2">{% csrf_token %}{{form.gender}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
					<td id="td1"> Address </td>
					<td id="td2">{% csrf_token %}{{form.address}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
					<td id="td1"> City </td>
					<td id="td2">{% csrf_token %}{{form.city}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
				<tr>
					<td id="td1"> State </td>
					<td id="td2">{% csrf_token %}{{form.state}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
				<tr>
					<td id="td1"> Country </td>
					<td id="td2">{% csrf_token %}{{form.country}}</td>
				</tr><tr><td><span id="sp1">Avinash</span></td></tr>
					<td  id="td5" colspan="2"><button id="btn1">Next</button></td>
				</tr>
        <tr>
          <td id="td6" colspan="2"><a href="/loginasDoc/"> I'm a doctor </a></td></tr>
			</table>

		</form>
		</div>
	</body>
</html>
