<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>


{%for i in photos%}
  <tr style="width:25%" >
  <td ><img  style="width:50%"  src="{%static i.file_path|slice:'7::' %}" alt=""></td>
</tr>
{%endfor%}

</table>

  </body>
</html>


<!-- class="thumbnail" height="100" width="100"  -->
