<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DOCA</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Timmana' rel='stylesheet'>
    </head>
  <body style="background-image:url('https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?cs=srgb&dl=bricks-pattern-texture-1092364.jpg&fm=jpg');background-size:cover;">
    <div id="header">
      <img src="{% static "images/logo.png" %}" alt="ERROR!" id="logo" style="width:9%;height:9%" align='left'>
      <table>
        <tr style="text-align: right;">
          <td id='title'><span style="color:#4451ff">D</span>OCA</td>
          <td style="width:700px;">
            <button type="button" name="notif" id="notif">Notifications</button>
          </td>
          <td style="width:100px;">
            <img src="{% static dp %}" alt="ERROR!" style="width:40px; height:40px; border-radius:50%;">
          </td>
          <td id='log'>{{ fname }}<br><a href='{% url 'doc_prof:logout' %}'>Logout</a></td>
        </tr>
      </table>
    </div>
    <br>
    <ul id='nav'>
      <li class="link" style="background-color: #4451ff"><a href="{% url 'doc_prof:home' %}">HOME</a></li>
      <li class="link"><a href="{% url 'doc_prof:profile' %}">PROFILE</a></li>
      <li class="link"><a href="#">APPOINTMENTS</a></li>
      <li class="link"><a href="#">FEEDBACK</a></li>
    </ul>
    <br><br><br><br>
    <div id="ss">
      <p id="content"></p>
    </div><br><br>

    <hr><center><p id='feed'>MEDICAL FEEDSTAND<hr></p></center><br>
    <table style="border-spacing: 10px;">
      <tr>
        <td class='news'>
          <center><h3 id='h1'></h3></center>
          <p id='n1'></p>
        </td>
        <td class='news'>
          <center><h3 id='h2'></h3></center>
          <p id='n2'></p>
        </td>
      </tr>
      <tr>
        <td class='news'>
          <center><h3 id='h3'></h3></center>
          <p id='n3'></p>
        </td>
        <td class='news'>
          <center><h3 id='h4'></h3></center>
          <p id='n4'></p>
        </td>
      </tr>
      <tr>
        <td class='news'>
          <center><h3 id='h5'></h3></center>
          <p id='n5'></p>
        </td>
        <td class='news'>
          <center><h3 id='h6'></h3></center>
          <p id='n6'></p>
        </td>
      </tr>
    </table>
    <script type="text/javascript" src="{% static "javascript/doc.js" %}"></script>
  </body>
</html>
